In [12]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [13]:
data=pd.read_csv("iris.data")

In [14]:
data.head()

     SepalLengthCm  SepalWidth  PetalLenthCm      Species
5.1            3.5         1.4           0.2  Iris-setosa
4.9            3.0         1.4           0.2  Iris-setosa
4.7            3.2         1.3           0.2  Iris-setosa
4.6            3.1         1.5           0.2  Iris-setosa
5.0            3.6         1.4           0.2  Iris-setosa

In [15]:
data.tail()

     SepalLengthCm  SepalWidth  PetalLenthCm         Species
6.7            3.0         5.2           2.3  Iris-virginica
6.3            2.5         5.0           1.9  Iris-virginica
6.5            3.0         5.2           2.0  Iris-virginica
6.2            3.4         5.4           2.3  Iris-virginica
5.9            3.0         5.1           1.8  Iris-virginica

In [16]:
encoder=LabelEncoder()

In [19]:
data.Species=encoder.fit_transform(data.Species)

In [67]:
data

     SepalLengthCm  SepalWidth  PetalLenthCm  Species
5.1            3.5         1.4           0.2        0
4.9            3.0         1.4           0.2        0
4.7            3.2         1.3           0.2        0
4.6            3.1         1.5           0.2        0
5.0            3.6         1.4           0.2        0
..             ...         ...           ...      ...
6.7            3.0         5.2           2.3        2
6.3            2.5         5.0           1.9        2
6.5            3.0         5.2           2.0        2
6.2            3.4         5.4           2.3        2
5.9            3.0         5.1           1.8        2

[150 rows x 4 columns]

In [48]:
train,test=train_test_split(data,test_size=0.2,random_state=0)

In [63]:

train_x=data.drop(columns=["Species"])

In [50]:
train_y=data["Species"]

In [51]:
test_x=data.drop(columns=["Species"])

In [52]:
test_y=data["Species"]

In [53]:
model=LogisticRegression()

In [54]:
model.fit(train_x,train_y)

LogisticRegression()

In [55]:
predict=model.predict(test_x)

In [56]:
print(accuracy_score(test_y,predict))

0.98

In [1]:
fname="jag"
lname="deesh"

In [4]:
print("my first name is {} and last is {}".format(fname,lname))

my first name is jag and last is deesh

In [5]:
lst=[]

In [6]:
lst=[1,2,34,44]

In [7]:
lst.insert(2,33)

In [8]:
lst

[1, 2, 33, 34, 44]

In [10]:
lst.extend([123])

In [11]:
lst

[1, 2, 33, 34, 44, 123]

In [13]:
ab="the king is a fool"

In [19]:
s=ab.strip()

In [26]:
for i in s:
    for j in i.split(""):
        
        count=+1
count

1

In [15]:
import numpy as np
import pandas as pd
list1=[1,2,3,45]
list2=[2,3,4,5]
list3=[5,6,9,0]
arrlist=([[1,2,3,45],[2,3,4,5],[5,6,9,0]])
arr=np.array(arrlist)

In [5]:
type(arr)

numpy.ndarray

In [6]:
arr[:,:]

array([[ 1,  2,  3, 45],
       [ 2,  3,  4,  5],
       [ 5,  6,  9,  0]])

In [13]:
arr[1:,1:3]

array([[3, 4],
       [6, 9]])

In [18]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["column1","column2","column3","column"])

In [19]:
df

      column1  column2  column3  column
row1        0        1        2       3
row2        4        5        6       7
row3        8        9       10      11
row4       12       13       14      15
row5       16       17       18      19